In [2]:
import pandas as pd
from decimal import Decimal

C:\Users\mjrafol\Anaconda3\envs\PythonData\lib\site-packages\numpy\__init__.py:140: UserWarning: mkl-service package failed to import, therefore Intel(R) MKL initialization ensuring its correct out-of-the box operation under condition when Gnu OpenMP had already been loaded by Python process is not assured. Please install mkl-service package, see http://github.com/IntelPython/mkl-service
  from . import _distributor_init

ImportError: Unable to import required dependencies:
numpy:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy C-extensions failed. This error can happen for
many reasons, often due to issues with your setup or how NumPy was
installed.

We have compiled some common reasons and troubleshooting tips at:

    https://numpy.org/devdocs/user/troubleshooting-importerror.html

Please note and check the following:

  * The Python version is: Python3.7 from "C:\Users\mjrafol\Anaconda3\envs\PythonData\python.exe"
  * The NumPy version is: "1.18.5"

and make sure that they are the versions you expect.
Please carefully study the documentation linked above for further help.

Original error was: DLL load failed: The specified module could not be found.

In [2]:
# Read the CSV file
df = pd.read_csv("cities.csv")

In [3]:
# Copy the df before making any changes (dropping records with NA)
df2 = df
df3 = df2.dropna(how = "any")

# View the new df
df3

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,suntar,62.1444,117.6319,33.26,64.0,100.0,4.00,RU,1.650764e+09
1,atuona,-9.8000,-139.0333,79.50,77.0,76.0,16.64,PF,1.650764e+09
2,talnakh,69.4865,88.3972,-0.80,95.0,56.0,3.02,RU,1.650764e+09
3,sao joao,-8.8756,-36.3667,68.23,95.0,86.0,4.65,BR,1.650764e+09
4,ushuaia,-54.8000,-68.3000,42.46,75.0,40.0,2.30,AR,1.650764e+09
...,...,...,...,...,...,...,...,...,...
629,ha tinh,18.3333,105.9000,85.89,65.0,13.0,0.89,VN,1.650765e+09
630,nortelandia,-14.4547,-56.8028,73.62,88.0,100.0,3.76,BR,1.650765e+09
631,geraldton,-28.7667,114.6000,77.41,38.0,2.0,17.27,AU,1.650765e+09
633,buala,-8.1450,159.5921,85.69,68.0,24.0,4.27,SB,1.650765e+09
634,taoudenni,22.6783,-3.9836,75.54,18.0,11.0,10.25,ML,1.650765e+09

In [4]:
# Check the df datatypes
df3.dtypes

City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity      float64
Cloudiness    float64
Wind Speed    float64
Country        object
Date          float64
dtype: object

In [1]:
df4 = df3

NameError: name 'df3' is not defined

In [6]:
df4["Lat"] = df3["Lat"].astype("float64").round(2)
df4["Lng"] = df3["Lng"].astype("float64").round(2)
df4["Date"]= df3["Date"].apply(pd.to_datetime)
# df3["Date"]=Decimal(df3["Date"])
# df3['Date'] = pd.to_datetime(df3['Date'], format='%Y%m%d%H%M%S')
# df3["Date"] = df3["Date"].astype("datetime64[ns]")
df4

C:\Users\mjrafol\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\mjrafol\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\mjrafol\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,suntar,62.14,117.63,33.26,64.0,100.0,4.00,RU,1970-01-01 00:00:01.650764446
1,atuona,-9.80,-139.03,79.50,77.0,76.0,16.64,PF,1970-01-01 00:00:01.650764446
2,talnakh,69.49,88.40,-0.80,95.0,56.0,3.02,RU,1970-01-01 00:00:01.650763870
3,sao joao,-8.88,-36.37,68.23,95.0,86.0,4.65,BR,1970-01-01 00:00:01.650764447
4,ushuaia,-54.80,-68.30,42.46,75.0,40.0,2.30,AR,1970-01-01 00:00:01.650764448
...,...,...,...,...,...,...,...,...,...
629,ha tinh,18.33,105.90,85.89,65.0,13.0,0.89,VN,1970-01-01 00:00:01.650764810
630,nortelandia,-14.45,-56.80,73.62,88.0,100.0,3.76,BR,1970-01-01 00:00:01.650764811
631,geraldton,-28.77,114.60,77.41,38.0,2.0,17.27,AU,1970-01-01 00:00:01.650764812
633,buala,-8.14,159.59,85.69,68.0,24.0,4.27,SB,1970-01-01 00:00:01.650764813
634,taoudenni,22.68,-3.98,75.54,18.0,11.0,10.25,ML,1970-01-01 00:00:01.650764813

In [9]:
df4.to_html('cities.html')